## 1.필요한 라이브러리 호출

In [7]:
# 라이브러리 호출

import gpxpy
import pandas as pd
import os
from glob import glob
import geopandas
from datetime import datetime

## 2. CSV파일 불러오기 -> pandas.DataFrame

In [8]:
df1 = pd.read_csv('D:/Trangle_Data/Trangle_GPX/2019_done.csv')
df1.head()

,Unnamed: 0,f_name,track_length,top_speed,speed_median,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_lon,p1_time
0,0,done_1000044.gpx,6.958746,7.742413,3.476858,0.000000,544.105130,7303.0,5250.0,584.702081,37.601450,126.954967,2019-03-30 09:38:28+00:00
1,1,done_1000071.gpx,7.607279,6.270098,3.075176,81.900000,603.272727,8495.0,5619.0,641.090690,37.663060,127.012435,2019-03-30 09:09:58+00:00
2,2,done_1000098.gpx,7.711659,6.252595,3.837576,87.000000,579.000000,7748.0,5218.0,537.790050,37.601645,126.955001,2019-03-30 09:34:33+00:00
3,3,done_10001.gpx,11.182091,6.535755,3.867327,143.809445,859.013794,11327.0,10662.0,955.183335,37.619482,126.995991,2019-01-01 09:34:41+00:00
4,4,done_1000107.gpx,9.320403,7.409756,3.432375,67.969316,720.919305,10778.0,4874.0,733.944417,37.658152,126.945689,2019-03-30 08:50:07+00:00

In [9]:
df2 = pd.read_csv('D:/Trangle_Data/Trangle_GPX/2020_done.csv')
df2.head()

,Unnamed: 0,f_name,track_length,top_speed,speed_median,lowest_ele,top_ele,moving_time,stopped_time,elevation_gain,p1_lat,p1_lon,p1_time
0,0,done_1000036.gpx,12.887205,9.270211,3.736843,44.893397,110.739203,11437.0,8948.0,171.070155,37.653556,127.051542,2020-03-13 02:08:48+00:00
1,1,done_1000113.gpx,3.286065,8.081724,5.388127,35.059143,101.493164,2265.0,55.0,146.165816,37.592009,127.013565,2020-03-13 18:22:12+00:00
2,2,done_1000156.gpx,16.284773,7.469698,5.251626,13.444482,70.694645,11697.0,967.0,369.584002,37.688769,127.045860,2020-03-13 15:32:18+00:00
3,3,done_1000157.gpx,7.703749,7.343523,4.487470,-22.000000,477.000000,6918.0,4345.0,653.500000,37.686264,127.047933,2020-03-13 06:46:10+00:00
4,4,done_100016.gpx,10.447011,6.216675,3.170071,45.854218,751.433677,12383.0,6676.0,1013.164970,37.689509,127.043473,2020-01-08 10:17:18+00:00

## 3. pandas.DataFrame -> geopandas.GeoDataFrame

In [11]:
# df1에서 '파일명', '코스의 첫 포인트 경도&위도'를 GeoDataFrame으로 변경

gdf1 = geopandas.GeoDataFrame(
    df1[['f_name', 'p1_lat', 'p1_lon']],
    geometry=geopandas.points_from_xy(df1['p1_lat'], df1['p1_lon']))
gdf1.head()

             f_name     p1_lat      p1_lon                geometry
0  done_1000044.gpx  37.601450  126.954967  POINT (37.601 126.955)
1  done_1000071.gpx  37.663060  127.012435  POINT (37.663 127.012)
2  done_1000098.gpx  37.601645  126.955001  POINT (37.602 126.955)
3    done_10001.gpx  37.619482  126.995991  POINT (37.619 126.996)
4  done_1000107.gpx  37.658152  126.945689  POINT (37.658 126.946)

In [12]:
# df2에서 '파일명', '코스의 첫 포인트 경도&위도'를 GeoDataFrame으로 변경

gdf2 = geopandas.GeoDataFrame(
    df2[['f_name', 'p1_lat', 'p1_lon']],
    geometry=geopandas.points_from_xy(df2['p1_lat'], df2['p1_lon']))
gdf2.head()

             f_name     p1_lat      p1_lon                geometry
0  done_1000036.gpx  37.653556  127.051542  POINT (37.654 127.052)
1  done_1000113.gpx  37.592009  127.013565  POINT (37.592 127.014)
2  done_1000156.gpx  37.688769  127.045860  POINT (37.689 127.046)
3  done_1000157.gpx  37.686264  127.047933  POINT (37.686 127.048)
4   done_100016.gpx  37.689509  127.043473  POINT (37.690 127.043)

## 4. geopandas.GeoDataFrame -> CSV 파일
* QGIS에서 CSV파일을 Shapefile로 분포 확인 가능

In [13]:
# df1, df2를 csv 파일로 저장 

gdf1.to_csv('D:/Trangle_Data/Trangle_GPX/2019_geo_df/2019_geo_df.csv')
gdf2.to_csv('D:/Trangle_Data/Trangle_GPX/2020_geo_df/2020_geo_df.csv')